/*共通で設定するもの*/
.body{
    background-color: linear-gradient(90deg, #ff5800, #8b00be);
}

.header{
    text-align: center;
    color: hotpink;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

