/*新規会員登録画面 STEP1*/
.contact-form__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 600px;
}

.register-form__heading{
    text-align: center
}

.register-form__subtitle{
    text-align: center
}

.form__group{
    text-align: center
}

.form__button-submit{
    width: 200px;
    padding: 10px;
    color: #fff;
    margin:  15px auto 0;
    border-radius: 10px;
    background: linear-gradient(80deg, #734ff7, #faa0e7);
    text-align: center;
    display: block;
    border: 1px solid white;
}

.login__link{
    text-align: center;
    margin: 15px auto 0;
}

.form__input--text input,
.form__inout--textarea textarea {
    /*display: flex;
    justify-content: space-between;*/
    padding: 5px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: rgb(236, 234, 234);

    appearance: none;
}

.form__group-title{
    
}