/*新規会員登録画面 STEP1*/

.register-form__content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 15px;
    max-width: 500px;
    max-height: 100vh;
    background-color: white;
    border-radius: 20px;
    margin-top: 50px;

}

.register-form__heading{
    text-align: center;
    font-family: serif;
    font-size: 36px;
    color: hotpink;
}

.register-form__subtitle{
    text-align: center;
    font-size: 20px;
    font-family: serif;
    padding: 0;
}

.register-form__subtitle2{
    text-align: center;
    font-size: 12px;
}

.form__group{
    text-align: center;
}

.form__label-item {
    width: 400px;
    text-align: right;
}

.form__button-submit{
    width: 200px;
    padding: 10px;
    color: #fff;
    margin:  15px auto 0;
    border-radius: 10px;
    background: linear-gradient(80deg, #734ff7, #faa0e7);
    text-align: center;
    display: block;
    border: 1px solid white;
}

.login__link{
    text-align: center;
    margin: 15px auto 0;
}

.form__input--text input,
.form__inout--textarea textarea {
    padding: 10px;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;

    appearance: none;
}

.form__group-title{
    font-weight: bold;
    margin: 10px 10px;
    
}